<header class="cd-header {{if navIsVisible 'nav-is-visible'}}">
  <a href="#0" class="cd-logo"><img src="img/cd-logo.svg" alt="Logo"></a>
  {{nav-trigger onClickAction='toggleMenu'}}
</header> <!-- .cd-header -->

<main>
  {{yield}}
</main>

<nav class="cd-3d-nav-container {{if navIsVisible 'nav-is-visible'}}">
  <ul class="cd-3d-nav">
    {{#each links as |link|}}
      {{nav-item
      cdSelected=link.selected
      href=link.href
      onClickAction='onClickAction'
      text=link.text}}
    {{/each}}
  </ul> <!-- .cd-3d-nav -->

  <span class="cd-marker color-1"></span>
</nav> <!-- .cd-3d-nav-container -->