{{#nav-trigger-container navIsVisible=navIsVisible toggleMenu='toggleMenu'}}
  {{yield 'header'}}
{{/nav-trigger-container}}

<main>
  {{yield 'main'}}
</main>

<nav class="cd-3d-nav-container {{if navIsVisible 'nav-is-visible'}}">
  <ul class="cd-3d-nav">
    {{#nav-items-container navItemSelected='navItemSelected' as |selectedIndex navItemClicked|}}
      {{yield 'nav-items' selectedIndex navItemClicked}}
      <span class="nav-marker color-{{if multiColor (math selectedIndex '+' 1) 1}}"></span>
    {{/nav-items-container}}
  </ul>
</nav>