{{#nav-trigger-container fixed=fixed navIsVisible=navIsVisible toggleMenu='toggleMenu'}}
  {{yield 'header'}}
{{/nav-trigger-container}}

<main>
  {{yield 'main'}}
</main>

<nav class="cd-3d-nav-container {{if navIsVisible 'nav-is-visible'}}">
  <ul class="cd-3d-nav">
    {{#nav-items-container toggle3dBlock='toggle3dBlock' updateSelectedNav='updateSelectedNav' as |selectedIndex navItemClicked|}}
      {{yield 'nav-items' selectedIndex navItemClicked}}
      {{nav-marker multiColor=multiColor selectedIndex=selectedIndex totalNavItems=totalNavItems}}
    {{/nav-items-container}}
  </ul>
</nav>