{{#nav-trigger-container navIsVisible=navIsVisible toggleMenu='toggleMenu'}}
  <a href="//shipshape.io" class="cd-logo"><img src="img/ShipShapeIcon.svg" alt="Logo"></a>
{{/nav-trigger-container}}

<main>
  {{yield}}
</main>

<nav class="cd-3d-nav-container {{if navIsVisible 'nav-is-visible'}}">
  <ul class="cd-3d-nav">
    {{#each links as |link|}}
      {{#nav-item cdSelected=link.selected onClickAction='onClickAction'}}
        <a href="{{link.href}}">{{link.text}}</a>
      {{/nav-item}}
    {{/each}}
  </ul>

  {{nav-marker multiColor=multiColor}}
</nav>