<NavTriggerContainer @isFixed={{true}} @useHeadroom={{true}}>
  <a href="//shipshape.io" class="logo">
    <img src="img/white.svg" alt="Ship Shape Cthulhu Logo" height="45px" width="45px">
  </a>
</NavTriggerContainer>

<screen class="main">
  <div class="info-text">
    <h1><span class="pacifico">ember</span> 3D NAV</h1>
    <p>
      This Ember addon is based on the amazing work done by CodyHouse on
      <a href="https://codyhouse.co/gem/3d-rotating-navigation/">3D Rotating Navigation</a>.
      Some changes have been made to convert things into Ember components and try to make it reusable,
      but a lot of the original styles have stayed.
    </p>
  </div>
</screen>

<NavContainer @multiColor={{true}}>
  {{#each this.model.links as |link index|}}
    <NavItem @index={{index}} @link={{link}}/>
  {{/each}}
</NavContainer>
